@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@theme {
  --color-globo-blue: #6A9AB0;
  --color-globo-pink: #FADBD8;
  --color-globo-light: #F8FAFC;
  --color-globo-dark: #334155;
  --color-globo-card: #FFF5E6;
}

:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--color-globo-light);
  color: var(--color-globo-dark);
}

/* Personalización de Swiper para que los puntos sean azules */
.swiper-pagination-bullet-active {
  background: var(--color-globo-blue) !important;
  width: 24px !important;
  border-radius: 10px !important;
}

.swiper-slide {
  transition: all 0.5s ease-in-out;
  opacity: 0.4;
  transform: scale(0.9);
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}